<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Alta Categorias</title>
    <link rel="stylesheet" href="../../assets/css/estilos.css">
</head>
    <body>

        <form action="../../index.php" method="POST">
        <h1>Alta de Categorias!</h1>
            <input type="text" name="altaCategoria" id="nombre" placeholder="Ingrese una categoria">
            <input type="submit" value="Enviar">
            <input type="submit" value="Cancelar">
        </form>

    </body>
</html>