<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Alta Productos</title>
    <link rel="stylesheet" href="../../assets/css/estilos.css">
</head>
    <body>

        <form action="../../index.php" method="POST">
        <h1>Alta de Productos!</h1>
            <input type="text" name="altaProductos" id="nombre" placeholder="Ingrese un producto">
            <input type="submit" value="Enviar">
            <input type="submit" value="Cancelar">
        </form>

    </body>
</html>